<section class="dex">
  <header class="dex__header">
    <h1>{{ trainerName }}'s Pokémon</h1>
    <p>A hand-picked squad, ready to battle.</p>
  </header>

  <div class="dex__grid">
    <article
      *ngFor="let pokemon of pokemons; let i = index; trackBy: trackByPokemonId"
      class="dex-card dex-card--{{ pokemon.bento }}"
      [appTypeColor]="pokemon.types[0]"
      [appRevealOnInteraction]="pokemon.bento === 'regular'"
      [appMagneticTilt]="pokemon.bento === 'hero' || pokemon.bento === 'wide'"
      appEntranceReveal
      [ngStyle]="{
        'transition-delay': (i * 45) + 'ms',
        '--enter-shift': i % 2 === 0 ? '-1' : '1'
      }"
    >
      <span class="dex-card__id">{{ pokemon.id | pokedexId }}</span>

      <div class="dex-card__art">
        <img [src]="pokemon.image" [alt]="pokemon.name" loading="lazy" />
      </div>

      <div class="dex-card__body">
        <h2 class="dex-card__name">{{ pokemon.name }}</h2>
        <p class="dex-card__nickname">&ldquo;{{ pokemon.nickname }}&rdquo;</p>

        <ul class="dex-card__types">
          <li
            *ngFor="let type of pokemon.types; let isPrimary = first"
            class="dex-card__type"
            [ngClass]="{ 'dex-card__type--primary': isPrimary }"
            [appTypeColor]="type"
            appTypeColorMode="fill"
          >
            {{ type }}
          </li>
        </ul>
      </div>
    </article>
  </div>

  <a class="dex__more" routerLink="/home/detail">
    See Pokémon detail
    <span aria-hidden="true">&rarr;</span>
  </a>

  <router-outlet/>
</section>
